.ware-house-list-item {

  margin-left: 16px;
  margin-right: 16px;
}
.ware-house-list-item__wrapper {
  color: #13182C;
  display: flex;
  justify-content: space-between;
  font-family: 'Titillium Web';
}
.ware-house-list-item__name { 
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #2E66E6;
  
}

.ware-house-list-item__left {
  width: 100%;
}
.ware-house-list-item__right {
  width: 100%;
}

.ware-house-list-item__container {
  display: flex;
}
.ware-house-list-item__icon {
  height: 15px;
  width: 20px;
  align-self: center;

}
.ware-house-list-item__contact-name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.ware-house-list-item__contact-info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  
}
.ware-house-list-item__address {
  width: 100px;
  margin-top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.ware-house-list-item__icons {
  display: flex;
  justify-content: space-between;
  
}
.ware-house-list-item__edit {
  height: 20px;
  width: 20px;

}
.ware-house-list-item__delete {
  height: 20px;
  width: 20px;

}
.desktop {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ware-house-list-item {
    margin-left: 32px;
    margin-right: 32px;
  }
  .ware-house-list-item__wrapper{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ware-house-list-item__right {
    width: 100%;
    display: inline-flex; 
    gap: 90px;
    
  }
  .ware-house-list-item__left {
    width: 100%;
    display: flex;  
  }
  .ware-house-list-item__address {
    margin-top: 13px;
    width: 30%;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__name {
    width: 100%;
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-info {
    width: 60%;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-name{
    width: 50%;
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }

  .ware-house-list-item__icons {
    display: inline-flex;
    align-items: center;     
    gap: 5px;
  }
  .ware-house-list-item__edit {
    height: 25px;
    width: 25px;
  
  }
  .ware-house-list-item__delete {
    height: 25px;
    width: 25px;  
  
  }
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .ware-house-list-item {
    width: 1000px;
    margin: auto;
  }
  .ware-house-list-item__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ware-house-list-item__right {
    width: 100%;
    display: flex; 
    gap: 90px;
    
  }
  .ware-house-list-item__left {
    width: 100%;
    display: flex;  
  }
  .ware-house-list-item__address {
    margin-top: 13px;
    width: 20%;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__container {
    width: 30%;
  }
  .ware-house-list-item__name {
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-info {
    width: 40%;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-name{
    width: 40%;
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }

  .ware-house-list-item__icons {
    display: flex;
    align-items: center;     
    gap: 10px;
  }
  .ware-house-list-item__edit {
    height: 25px;
    width: 25px;
  
  }
  .ware-house-list-item__delete {
    height: 25px;
    width: 25px;  
  
  }
  .mobile {
    display: none;
  }

}
