.ware-house-list-item {
  color: #13182C;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  font-family: Titillium Web;
}
.ware-house-list-item__name { 
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #2E66E6;
  
}

.ware-house-list-item__container {
  display: flex;
}
.ware-house-list-item__icon {
  height: 15px;
  width: 20px;
  align-self: center;

}
.ware-house-list-item__contact-name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.ware-house-list-item__contact-info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  
}
.ware-house-list-item__address {
  margin-top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
@media screen and (min-width: 767px) and (max-width: 1279px) {
  .ware-house-list-item {
    display: inline-flex; 
    gap: 60px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .ware-house-list-item__right {
    display: inline-flex; 
    gap: 60px;
    justify-content: space-between;
    
  }
  .ware-house-list-item__left {
    display: inline-flex; 
    gap: 60px;
    justify-content: space-between;
    
  }
  .ware-house-list-item__address {
    margin-top: 13px;
    width: 100px;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__name {
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-info {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-name{
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px){
  .ware-house-list-item {
    display: inline-flex; 
    gap: 100px;
    margin: auto;
    width: 800px;
    
  }
  .ware-house-list-item__right {
    display: inline-flex; 
    gap: 120px; 
  }
  .ware-house-list-item__left {
    display: inline-flex; 
    gap: 120px; 
  }
  .ware-house-list-item__address {
    margin-top: 24px;   
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__name {
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-info {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
  }
  .ware-house-list-item__contact-name{
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
}

