@use "../../style/partials/mixins"as *;
@use "../../style/partials/typography"as *;
@use "../../style/partials/variables"as *;


.inventory-form {
    background-color: $white;
    @include flex(flex-start, stretch, column);

    &__button-container {
        margin-bottom: 7rem;
        background-color: $light-grey;
        @include flex(space-between, flex-start, row);
        background-color: $light-grey;
        width: 100%;

        @include tablet {
            @include flex(flex-end, center, row);
            padding-right: 1rem;
        }
        @include tablet {
            padding-right: 1.5rem;
        }
    }

    &__form {
        @include flex(center, center, column);
        width: 100%;
    }

    &__input-container {
        @include flex(center, center, column);
        width: 100%;
        @include tablet {
            @include flex(space-between, flex-start, row);
        }
    }

    &__item-details,
    &__item-availability {
        @include flex(flex-start, stretch, column);
        width: 100%;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        border: none;
        @include tablet {
            border-top: none;
            margin: 1.5rem 0 2rem 0;
            width: 50%;
            padding: 0rem 2rem;
        }
        @include desktop {
            padding: 0rem 2.5rem;
        }
    }

    &__item-availability {
        @include dividerStyleTop;
        @include tablet {
            border-top: none;
        }
    }

    &__item-details {
        @include tablet {
            @include dividerStyleRight;
        }
    }

    &__item-availability {
        @include dividerStyleTop;
        @include tablet {
            border-top: none;
        }
}
&__heading {
    @include font-stack-m-h2;
    padding-bottom: 0.5rem;
    @include tablet {
        @include font-stack-tab-desc-h2;
    }
}

&__label {
    @include font-stack-m-h3;
    padding: 1rem 0 0.25rem 0;
    @include tablet {
        @include font-stack-tab-desc-h3;
        padding: 1.5rem 0 0.25rem 0;
    }
}

&__input {
    color: $instock-black;
    height: 2.25rem;
    width: 100%;
    margin-bottom: 0.25rem;
    @include formfield;
    @include tablet {
        height: 2.375rem;
    }

    &::placeholder {
        @include font-stack-m-p2;
        @include tablet {
            @include font-stack-tab-desc-p2;
        }
    }

    &[type='text'] {
        @include font-stack-m-p2;
        color: $instock-black;
        @include tablet {
            @include font-stack-tab-desc-p2;
            color: $instock-black;
        }
    }

    &:focus {
        border: 1px solid $instock-indigo;
    }
}

&__input--invalid {
    @include formfield-invalid;
}

&__textarea {
    @include font-stack-m-p2;
    color: $instock-black;
    height: 7rem;
    width: 100%;
    margin-bottom: 0.25rem;
    resize: none;
    @include formfield;
    @include tablet {
        @include font-stack-tab-desc-p2;
        color: $instock-black;
    }

    &::placeholder {
        @include font-stack-m-p2;
        @include tablet {
            @include font-stack-tab-desc-p2;
        }
    }

    &:focus {
        border: 1px solid $instock-indigo;
        }
    }

    &__textarea--invalid {
        @include formfield-invalid;
    }

    &__select-option {
        color: $instock-black;
        height: 2.25rem;
        width: 100%;
        margin-bottom: 0.25rem;
        @include formfieldSelect;
        background-image: url('../../assets/arrow_drop_down-24px.svg');
        background-repeat: no-repeat;
        background-position: 98%;
        @include tablet {
            height: 2.375rem;
        }

        &:focus {
            border: 1px solid $instock-indigo;
        }

        &:invalid {
            color: $slate;  
        }
    }

    &__select-option--invalid {
        @include formfield-invalid;
    }

    &__status{
        @include flex (space-between, center, row);
        width: 70%;
        @include desktop{
            width: 50%;
        }
    }

    &__label-status{
        position: relative;
        top: -2px;
        @include font-stack-m-p2;
        padding-left:0.5rem;
        @include tablet {
            @include font-stack-tab-desc-p2;
        }
    }

    &__stock input:checked +label{
        color: $instock-black;
    }

    &__input-quantity {
        @include desktop{
            width: 37%;
        }
    }

    &__input-quantity--invalid {
        @include formfield-invalid;
    }

    &__warning--valid {
    display: none;
    }

    &__warning {
    @include flex(flex-start, stretch, row);
    }

&__warning-icon {
    width: 1rem;
    margin-right: 5px;
    }

&__warning-message {
    @include font-stack-m-p3;
    color: $red;
    @include tablet {
        @include font-stack-tab-desc-p3;
        color: $red;
        }
    }
}