@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/typography" as *;

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $light-grey;
  padding: 2.5rem 0;

  @include tablet {
    padding: 5rem 0 2.5rem;
  }

  @include desktop {
    padding: 5.875rem 0 3rem;
  }

  &__text {
    @include font-stack-m-p3;
    color: $slate;
    text-align: center;
    @include tablet {
      @include font-stack-tab-desc-p3;
      color: $slate;
    }
  }
}
