@use "./variables" as *;
@use "./typography" as *;

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin dividerStyleTop {
  border-top: 1px solid $cloud; 
}

@mixin dividerStyleRight {
  border-right: 1px solid $cloud; 
}

@mixin formfield {
  outline: none;
  border-radius: 1.25rem;
  border: 1px solid $cloud;
  padding: 0.5rem 1rem;
  background-color: $white;
  box-shadow: 0 0 0px 1000px $white inset;
}

@mixin formfield-invalid {
  border:1px solid $red;
}

@mixin formfieldSelect {
  outline: none;
  border-radius: 1.25rem;
  border: 1px solid $cloud;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0px $white inset;
  appearance: none;
  @include font-stack-m-p2;
  color: $instock-black;
  @include tablet {
    @include font-stack-tab-desc-p2;
    color: $instock-black;
}
}

