.details {
  margin: 0 1rem;
  min-width: 150px;
  max-width: 150px;
}
.details__heading{
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
}

.details__info{
  margin: 0.2rem;
  font-size: 1.1rem;
}