@use "../style/partials/mixins"as *;
@use "../style/partials/variables"as *;

.top-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 100%;

  @include tablet() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    align-self: flex-start;
  }

  &__input {
    border-radius: 50px;
    border: 1px solid silver;
    padding: 0.8rem;
    background-image: url("../assets/search-24px.svg");
    background-position: 95%;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 500px;

    @include tablet() {
      width: 30%;

    }
  }
}