 @use '../../style/partials/typography' as *;
 @use '../../style/partials/mixins' as *;
 @use '../../style/partials/variables' as *;

 .inventory {
   margin: 16px;
   font-family: 'Titillium Web';
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 20px;
   color: $instock-black;

    @include tablet {
      margin: 32px;
      font-size: 14px;
      line-height: 22px;

    }
    @include desktop {
      width: 1000px;
      margin: auto;
      font-size: 14px;
      line-height: 22px;
    }

    &__name-wrapper {
      display: inline-flex;
      gap: 5px;    
    }
    &__name {
      color: $instock-indigo;
    }
    &__categories {
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      color: $slate;

      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }
    &__mobile-container {
      display: flex;
      align-content: flex-start;
      justify-content: space-between;
      width: 80%;

      @include tablet { 
        width: 100%;
      }
      @include desktop { 
        width: 100%;
      }
 
    }
    &__category{
      width: 65px;
    }
    &__quantity {
      width: 35px;
    }

    &__category-wrapper {
      @include tablet {
        display: flex;
        justify-content: space-between;
        width: 35%;
      }
      @include desktop {
        display: flex;
        justify-content: space-between;
        width: 35%;
      }
    }
    &__category-container {
      padding-bottom: 16px;
      line-height: 22px;
    }
    &__arrow {
      align-self: center;
      height: 20px;
      width: 15px;
    }
    &__icons {
      display: flex;
      justify-content: space-between; 
    }
    &__icon{
      @include tablet{
        padding-left: 10px;

      }
    }
    &__status-container{
      width: 20%;
      @include tablet {
        display: flex;
        justify-content: space-between;
        width: 25%;
      }
      @include desktop {
        display: flex;
        justify-content: space-between;
        width: 25%;
      }
    }
   
    &__mobile {
      display: none;

      @include tablet {
        display: inline-block;
      }
      @include desktop {
        display: inline-block;
      }
    }  
    &__desktop {
      @include tablet {
        display: none;
      }
    }
 }